#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
}

h1 {
  color: #e3350d;
  font-size: 2.2rem;
}

.description {
  color: #666;
  margin-bottom: 32px;
}

.error-message {
  padding: 15px;
  background-color: #ffe6e6;
  color: #d32f2f;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
