#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  cursor: pointer;
}

h1 {
  color: #e3350d;
  font-size: 2.2rem;
}

.description {
  color: #666;
  margin-bottom: 32px;
}
