.container {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  left: 0;
  height: var(--header-height);

  background-color: white;
  border-bottom-style: solid;
  border-color: #cbd5e1;
  border-bottom-width: 1px;
}

.header {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 80rem;
  padding-right: 1rem;
  padding-left: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
}
.title a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
.title span {
  color: #d32f2f;
  font-weight: bold;
}

.nav {
  flex: 1 1 0%;
}
.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  color: #666;
}
.nav ul li {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1280px) {
  .header {
    padding-left: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-right: 2rem;
  }
}
